body
{
	margin:0;
	padding:0;
    

    background: #251919 url(../img/bg.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}


.contain{
/*	width:65vw;*/
	width:75vw;

	height:100vh;
	margin:0 auto;
	

	

}


.header{
	 margin-top:10vh ;
	 background-color:rgba(000,000,000,.0);
	 border-radius:0;

	
	
}

.navbar-nav > li > a {

padding:25px;
margin-right:5px;
border-bottom: 1px solid white;

/*border-left: 1px solid white;
border-right: 1px solid white;*/
}

#branding{
	background-color: rgb(69, 129, 255);

}


.header a{
	color:white;




	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;

}

.header a:hover{
	color:black;
	background-color: white !important;
}

.tabContainer{
	border-bottom:2px solid white;
	height:75px;

}

.tabs{
	
	height:50px;
	width:140px;
	padding:15px;
	margin-top:22px;
	font-size:18px;
	line-height: 50px;
	color:#ccc;


		 text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333; 


	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;

	cursor:pointer;

}


#musicTab{
	position:absolute;
	background-color:rgba(000,000,000,.1);
	
	z-index: 1;
}

#videoTab{
position:absolute;

margin-left:140px;
background-color:rgba(000,000,000,.1);
	z-index: 1;

	
}


/*active class for tabs, gets added to a chosen tab(handled in js)*/

.activeTab{
	z-index:3 !important;
	background-color:rgba(255,255,255,.6) !important;
	cursor: default;
	color:#fff;
	font-size:25px;
	height:75px;
	margin-top:0px;

}

.content{

	
	margin-top:12vh;
	/*background-color:rgba(255,255,255,.1);*/
	width:100%;
	color:white;
	height:100vh;
	border-bottom:1px solid #333;
	

background: -moz-linear-gradient(top,  rgba(45,45,45,0.01) 0%, rgba(252,252,252,0.2) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,0.01)), color-stop(100%,rgba(252,252,252,0.2))); 
background: -webkit-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: -o-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: -ms-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: linear-gradient(to bottom,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2d2d2d', endColorstr='#33fcfcfc',GradientType=0 );


}

.footer{

	margin-top:50px;
	background-color:rgba(255,255,255,.3);
	width:100%;
	
	height:8vh;
	



}


#chooserBorder{
	position:absolute; 
	display:none;
	border:2px solid #fff;
	border-top:5px solid #fff;
	border-bottom:5px solid #fff;
	background-color:rgba(255,255,255,.2);
}

.colorPicker{
	
	border-radius:20px;
	width:37vw;
	height:100px;
	margin:0 auto;


}


.controlWrapper{

background-color:rgba(000,000,000,.6);
width:100%;
padding:1.5vh;
margin-top:50px;
margin-bottom: 50px;

    /* box-shadow: inset  0 -10px 50px -8px rgba(255,255,255,.1); */                 
}

.colourItems{
	
	width:5.28vw;
	height:100px;
	float:left;
	background-color:rgba(255,255,255,.2);

	cursor:pointer;
	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;
}

.colourItems:hover{
	
	border:2px solid white !important;
}



#colourHeading{
	color:white;
	 text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333; 
    font-size:40px;



    -webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;


}


.buttonContainer{
	width:50%;
	height:7vh;
	
	margin:0 auto;


}



	.buttonContainer #goBtn{
		float:right;
		}



.wideBtn{

	width:150px;
	height:100%;
	font-size:20px;
	border:1px solid #333;

}




/*palette colours*/

#grayColour{

background:#A7A7A7;


}

#blackColour{

background:#000000;

}

#blueColour{

background:#002899;
}

#greenColour{

background:#006B03;
}


#yellowColour{

background:#C9BF00;

}

#pinkColour{

background:#C01AA8;


}

#redColour{
	background:#AF0205;
}