body
{
	margin:0;
	padding:0;
    

   /*background: #251919 url(../img/bg.jpg) no-repeat center center fixed;
    
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
 	background: rgba(0, 0, 0,.97);
}


.bgContainer{
	position:fixed;
	z-index: -1;
	width:100vw;
	height:100%;
	top:0;
}

.contain{
/*	width:65vw;*/
	width:75vw;

	height:100vh;
	margin:0 auto;
	

	

}


.header{
	 margin-top:10vh ;
	 background-color:rgba(000,000,000,.4);

	 border-radius:0;

	
	
}

.navbar-nav > li > a {

padding:25px;

border-bottom: 1px solid white;


}

#branding{
	background-color: rgb(69, 129, 255);

}


.header a{
	color:white;




	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;

}

.header a:hover{
	color:black;
	background-color: white !important;
}

.tabContainer{
	border-bottom:2px solid white;
	height:75px;

}

.tabs{
	
	height:50px;
	width:140px;
	padding:15px;
	margin-top:22px;
	font-size:18px;
	line-height: 50px;
	color:#ccc;
	background-color:rgba(000,000,000,.5);

	/*	 text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333; */


	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;

	cursor:pointer;

}


#musicTab{
	position:absolute;
	
	
	z-index: 1;
}

#videoTab{
position:absolute;

margin-left:140px;

	z-index: 1;

	
}


/*active class for tabs, gets added to a chosen tab(handled in js)*/

.activeTab{
	z-index:3 !important;
	background-color:rgba(255,255,255,.9) !important;
	cursor: default;
	color:#333;
	font-size:25px;
	height:75px;
	margin-top:0px;


}

.content{

	
	margin-top:12vh;
	/*background-color:rgba(255,255,255,.1);*/
	width:100%;
	color:white;
	
	border-bottom:1px solid #333;
	

background: -moz-linear-gradient(top,  rgba(45,45,45,0.01) 0%, rgba(252,252,252,0.2) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,0.01)), color-stop(100%,rgba(252,252,252,0.2))); 
background: -webkit-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: -o-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: -ms-linear-gradient(top,  rgba(45,45,45,0.01) 0%,rgba(252,252,252,0.2) 100%); 
background: linear-gradient(to bottom,  rgba(45,45,45,0.1) 0%,rgba(252,252,252,0.2) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2d2d2d', endColorstr='#33fcfcfc',GradientType=0 );


}

.footer{

	margin-top:50px;
	background-color:rgba(255,255,255,.3);
	width:100%;
	
	height:8vh;
	



}


#chooserBorder{
	position:absolute; 
	display:none;
	border:2px solid #fff;
	border-top:5px solid #fff;
	border-bottom:5px solid #fff;
	background-color:rgba(255,255,255,.2);
}

.colorPicker{
	
	border-radius:20px;
	width:37vw;
	height:100px;
	margin:0 auto;
	z-index:6;
	

}


.controlWrapper{

background-color:rgba(000,000,000,.6);
width:100%;
padding:1.5vh;
margin-top:50px;
margin-bottom: 50px;

    /* box-shadow: inset  0 -10px 50px -8px rgba(255,255,255,.1); */                 
}

.colourItems{
	z-index:6;
	width:5.28vw;
	height:100px;
	float:left;
	background-color:rgba(255,255,255,.2);

	cursor:pointer;
	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;
	
}



#vis{
	width:38vw;
	height:105px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

position: absolute;
z-index:5;
display:none;



}

.colourItems:hover{
	
	border:2px solid white !important;
}


#colourHeadingWrapper{
    background-color: rgba(0,0,0,0.9);
    width:100%;
    margin:0 auto;

    -webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;

}
#colourHeading{
	color:white;
	 text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333; 
    font-size:40px;
    width:35vw;
    height:100%;
    margin-left:20%;



    -webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;


}


.buttonContainer{
	width:50%;
	height:7vh;
	
	margin:0 auto;


}



	.buttonContainer #goBtn{
		float:right;
		}



.wideBtn{

	width:150px;
	height:100%;
	font-size:20px;
	border:1px solid #333;

}




#audioWrapper{
	
	min-width: 20vw;
	
	
}


#videoWrapper{
	
	display:none;
	margin-bottom:20px;

}

#contentWrapper{
	
	position:relative;
	width:20vw;
	margin:0 auto;
	margin-top:50px;
}




/*palette colours*/

#grayColour{

background:#A7A7A7;


}

#blackColour{

background:#000000;

}

#blueColour{

background:#002899;
}

#greenColour{

background:#006B03;
}


#yellowColour{

background:#C9BF00;

}

#pinkColour{

background:#C01AA8;


}

#redColour{
	background:#AF0205;
}


/*stretch to full screen when in fullscreen mode*/
#fscr{
	display:none;

}

#fullscreenTip{
	z-index:2147483647;
	
	color:white; 
	width:500px;
	position:fixed;
	top:0;
	left:15px;
	display:none;
	margin-top:50px;
	
}
#vis:-webkit-full-screen{
  width:100%;
  height:40%;
  margin-top:-10%;
  background-color: rgba(000, 000, 000, 1);

}

:-moz-full-screen {
  width:100%;
  height:40%;
  margin-top:-10%;
  background-color: rgba(000, 000, 000, 1);
}

:-ms-fullscreen {
  width:100%;
  height:40%;
  margin-top:-10%;
  background-color: rgba(000, 000, 000, 1);
}

.muzz {

	margin-bottom: 5px;
	width:100%;
	
}